{% extends "base.html" %}

{% block title %} Flasky {%endblock %}

{%block page_content %}

<div class="page-header">
    <h1>This is to test url_for</h1>
    <h2> index: {{ url_for('index')}} </h2>
    <h3> index true: {{ url_for('index',_external=True)}} </h3>
    <h3> index dynamic with external address: {{ url_for('index',name='john',_external=True)}} </h3>
    <h3> user dynamic with external address: {{ url_for('index_with_url',path='john',_external=True)}} </h3>
    <h3> user dynamic with external parameter: {{ url_for('index_with_url',path='john', page = 2,_external=True)}} </h3>
   

</div>

{% endblock %}
